script(type="text/x-template")#skills-list
  section.skills
    .container.skills__use
      .skills__wrapper
        .skills__title 
          .skills__title-container
            h3.skills__title-use Чем я могу быть полезна вам
            .skills__desk.text Этот сайт я сделала в рамках обучения в школе онлайн образования LoftSchool. Чуть позже я освежу в нем свой контент. А пока посмотрите, как тут всё классно и красиво!
        .skills__circles
          .skills__circles-wrapper
            skills-row(v-for="row in skillRows" :item="row")
            
            

script(type="text/x-template")#skills-row
  include ../../elements/skills-row
    h5.skills__circles-title #{rowName}
  .skills__circles-row
    include skills-circle
    each item in skills    
      +skills-circle(item)