script(type="text/x-template")#slider-container
  .works__slider
    display(
      :works="works"
      :currentWork="currentWork"
      :currentIndex="currentIndex"
      @slide="handleSlide"
    )
    info(
      :currentWork="currentWork"
    )

script(type="text/x-template")#slider-display 
  .works__slider-wrapper
    .works__slider-number {{ currentIndex+1 }}
    ul.works__slider-img
      li.works__slider-itemimg
        .works__slider-img
          img.works__slider-previewimg(:src="currentWork.photo")
          //- +image('currentWork.photo')
    arrows(
      @slide="direction => $emit('slide', direction)"
    )
    

script(type="text/x-template")#slider-thums    
  ul.works__slider-thums
      //- - selClass = 'works__slider-thum--selected'
      li.works__slider-thum(v-for="(thum, index) in works" :class="{ 'works__slider-thum--selected': index === currentIndex  }")
        img(:src="thum.photo")

script(type="text/x-template")#slider-arrows       
  .works__slider-arrows
    a(@click.prevent="$emit('slide', 'next')").works__slider-arrow.works__slider-arrow--next
      +icon('arrow-down', 'works__arrow-icon')
    a(@click.prevent="$emit('slide', 'previous')").works__slider-arrow.works__slider-arrow--previous
      +icon('arrow-down', 'works__arrow-icon')

script(type="text/x-template")#slider-info
  .works__description
    tags(
      :tags="tagsArray"
    )
    h3.works__description-title {{currentWork.title}}
    .works__descriptioninfo.text {{currentWork.desk}}
    .works__description-link
      +icon('link', 'works__description-icon')
      a(:href="currentWork.link").works__description-site Посмотреть сайт

script(type="text/x-template")#slider-tags
  .works__description-tags
    .works__description-tag.text(v-for="tag in tags") {{ tag }}