script(type="text/x-template")#slider-container
  .works__slider
    display(
      :works="works"
      :currentWork="currentWork"
      :currentIndex="currentIndex"
      @slide="handleSlide"
    )
    info(
      :currentWork="currentWork"
    )

script(type="text/x-template")#slider-display 
  .works__slider-wrapper
    .works__slider-number {{ currentIndex+1 }}
    .works__slider-img
      img(:src="currentWork.photo")
      //- +image('currentWork.photo')
    arrows(
      @slide="direction => $emit('slide', direction)"
    )
    thums(
      :works="reversedWorks",
      :currentWork="currentWork",
      :currentIndex=""
    )

script(type="text/x-template")#slider-thums    
  .works__slider-thums
      //- - selClass = 'works__slider-thum--selected'
      div.works__slider-thum(v-for="thum in works" :class="{ 'works__slider-thum--selected':  }")
        img(:src="thum.photo")

script(type="text/x-template")#slider-arrows       
  .works__slider-arrows
    a(@click.prevent="$emit('slide', 'next')").works__slider-arrow.works__slider-arrow--next
      +icon('arrow-down')
    a(@click.prevent="$emit('slide', 'previous')").works__slider-arrow.works__slider-arrow--previous
      +icon('arrow-down')

script(type="text/x-template")#slider-info
  .works__description
    tags(
      :tags="tagsArray"
    )
    h3.works__description-title {{currentWork.title}}
    .works__descriptioninfo.text {{currentWork.desk}}
    .works__description-link
      +icon('link')
      a(:href="currentWork.link").works__description-site Посмотреть сайт

script(type="text/x-template")#slider-tags
  .works__description-tags
    .works__description-tag.text(v-for="tag in tags") {{ tag }}