html, body{
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text-color;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.content-wrapper{
  padding: 60px;
  background: #f9fafe;
  height: 100%;
}
.section-header {
  display: flex;
  margin-bottom: 60px;
}
.section-container {
  
}