.comments{
  margin-bottom: 12.125rem;
}
.comments, .container{
  padding-right: 25%;
}
.comments__top{
  display: flex;
  margin-bottom: 10%;
}
.comments__top, .comments__title{
  margin-right: 8%;
}
.comments__arrows{
  display: flex;
  justify-content: flex-end;
}
.comments__top, .