.comments{
  margin-bottom: 12.125rem;
}
.comments, .container{
  padding-right: 25%;
}
.comments__titlebox{
  display: flex;
  margin-bottom: 10%;
}
.comments__titlebox, .comments__title{
  margin-right: 8%;
}
.comments__slider-controls{
  display: flex;
  justify-content: flex-end;
}
.comments__btn--prev{
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #2d3c4e;
  margin-right: 1.875rem;
  transform: rotate(180deg);
}