.footer{
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 0;
  background-color: #1f232d;
}
.footer, .maincontent {
  flex: 0 0 auto;
}

.footer-container {
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 4.5% 0;
}
.footer__name{
  width: 30%;
}
.footer__copyright{
  display: flex;
}
.footer__copyright__year{
  
}