.header{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s;

  @include tablets() {
    justify-content: space-between;
  }
}