.login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.login__button, .login__form{
  display: flex;
}
.login__form{
  padding: 3.75rem 5rem;
  background: #fff;
  z-index: 3;
}
.form__element input.icon--user {
  background-image: url();
}
.form__element input.form__input-icon {
  padding-left: 2.8125rem;
  background-repeat: no-repeat;
}