.logo{
  width: 47px;
  height: 26px;
  color: #414c63;
  text-decoration: none;
  font-family: "Open Sans";
  font-size: 36px;
  font-weight: 800;
  font-style: normal;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  z-index: 110;
  padding-top: 1.3rem;
  p
}