.main-menu{
  flex: 1;
  text-align: center;
}
.main-menu__list{
  display:inline-flex;
}
.main-menu__link{
  color: #414c63;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}