.screen{
  height: 100vh;
  min-height: 40.625rem;
}
.fullscreen{
  margin-bottom: 10%;

  @include desktopHd(){
    margin-bottom: 34%;
  } 

  @include desktop() {
    
  }
}

.fullscreen-container{
  flex-direction: column;
  align-content: center;
} 