.socials__item{
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.625rem;
}
.socials__link{
  display: inline-block;
  max-width: 1.4375rem;
  max-height: 1.25rem;
  opacity: .6;
  transition: .3s;
}
.socials__icon{
  width: 25px;
  height: 25px;
  fill: 414c63;
  opacity: 0.7;
  transition: opacity 0.5s;
}