.triangles{
  display: flex;
  margin-bottom: 13%;
  /* width: 100%;
  position: absolute;
  bottom: 0;
  left: 0; */
  @include desktop() {
    margin-bottom: 13%;
  }
  @include tablets() {
    margin-bottom: 14%;
  }
  @include phones() {
    
  }
}

.triangles__shape{
    display: block;
    height: 6.8125rem;
    width: 50%;
    fill: #fff;
    margin-top: -6.8125rem;
}