.welcome-wrapper{
  height: 100vh;
  min-height: 40.625rem;
  background: url(../images/content/Mountain.png) no-repeat;
  background-size: cover;
  position: relative;
  height: 1738px;
  align-items: center;
}