section.contacts
  h3 Связаться со мной
  form.contacts__form(action="/")
    .contacts__inputs
      label
        div.contacts__label.text Введите ваше имя
        input.contacts__input.contacts__input--name(placeholder="Маникина Вероника", type="text")
      label
        