footer.footer
  .footer-container.container
    .footer__name 
      .footer__copyright 
        .footer__copyright-year 2019
        .footer__hero
          .footer__hero-name Вероника Маникина
          .footer__hero-description 
    .footer__info 
      .footer__socials
        include socials
        +socials('footer')