footer.footer
  .footer-container.container
    .footer__name 
      .footer__copyright 
        .footer__copyright__year 2019
          .footer__copyright__name Вероника Маникина
          .footer__copyright__description 
    .footer__info 
      footer__socials
        include socials
        +socials('footer')