section.hero
  .container
    .hero__face
      .hero__photo
        //img
      .hero__data
        table
          - var data = [['Проживаю', 'Санкт-Петербург'], ['Возраст', '26 лет'], ['Родилась', '15 июня 1993']]
          each row in data
            tr
              td #{row[0]}
              td #{row[1]}
    .hero__content
      h3
        .hero__welcome Привет, меня зовут
        .hero__name Вероника Маникина
        .hero__text.text
          