section.hero
  .hero__container.container
    .hero__face
      .hero__photo
        img.hero__img(src='../images/content/user.jpg', alt='Фото')
      .hero__data
        table.hero__info
          - var data = [['Проживаю', 'Санкт-Петербург'], ['Возраст', '26 лет'], ['Родилась', '15 июня 1993']]
          each row in data
            tr.hero__info-row
              td. #{row[0]}
              td #{row[1]}
    .hero__content
      h3
        .hero__welcome Привет, меня зовут
        .hero__name Вероника Маникина
        .hero__text.text
          p Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
          p Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нем свой контент. А пока посмотрите, как тут все классно и красиво!