section.hero
  .container
    .hero__face
      .hero__photo
        //img
      .hero__data
        table
          - var data = [['Проживаю', 'Санкт-Петербург'], ['Возраст', '26 лет'], ['Родилась', '15 июня 1993']]
          уфср кщу
    .hero__content