html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper.admin-wrapper
      .maincontent 
        .main-wrapper
          header.header
          nav.nav
          .content-wrapper
            section.login
              form.login__form
                .login__title Авторизация
                label.form__element
                  .form__label Логин
                  input(type="text").form__input.form__input-icon.icon--user
