section.skills
  .skills__use.container
    .skills__title 
      h3.skills__title-use Чем я могу быть полезна вам
      .skills__desk.text Этот сайт я сделала в рамках обучения в школе онлайн образования LoftSchool. Чуть позже я освежу в нем свой контент. А пока посмотрите, как тут всё классно и красиво!
    .skills__circles
      .skills__circles-wrapper
        include ../elements/skills-row
        - var frontSkills = [{name: 'HTML5', val: 40}, {name: 'CSS3', val: 55}, {name: 'JavaScript', val: 70}, {name: 'Vue.js', val: 90}]
        - var workflow = [{name: 'GIT', val: 60}, {name: 'Terminal', val: 80}, {name: 'Gulp', val: 37}, {name: 'Webpack', val: 64}]
        +skills-row('Front-end', frontSkills)
        +skills-row('Workflow', workflow)