section.skills
  .skills__title 
    h4.skills__title-main Чем я могу быть полезна вам
    p.skills__text Этот сайт я сделала в рамках обучения в школе онлайн образования LoftSchool. Чуть позже я освежу в нем свой контент. А пока посмотрите, как тут всё классно и красиво!
    