ul.socials
  --var items = [{name:'insta', href:'#'}, {name:'vk', href:'#'}, {name:'githab', href:'#'}];
  each item in items
    li.socials__item
      a(href=item.href).socials__link
        +icon('${item}', 'socials__icon')