section.welcome
  h4.welcome__title Личный сайт веб разработчика
  h1.welcome__name-title Вероника Маникина
  .welcome__scrollblock
    a.welcome__scroll Скролл
    +icon('scroll', 'welcome__scroll-icon')