section.works
  .container
    h2.works__title Мои работы
    .container
      - var selNumber = 2
      .works__slider
        .works__slider-number #{selNumber}
        .works__slider-img
          +image('content/slider-1.jpg')
          .works__slider-thums
          - var thums = [4, 2, 3, 1]
          each thum in thums
            - var selClass = ''
            if thum ===selNumber
              - selClass = ' works__slider-thum--selected'
            div(class='works__slider-thum'+selClass)
              +image('content/slider-'+thum+'.jpg')
        .works__slider-arrows
          .works__slider-arrow.works__slider-arrow--next
            +icon('arrow-down')
          .works__slider-arrow.works__slider-arrow--previous
            +icon('arrow-down')
      .works__description
        .works__description-tags
          - var tags = ['HTML', "CSS", 'JavaScript']
          each tag in tags
            .works__description-tag.text #{tag}
        h3.works__description-title Сайт школы образования
        .works__descriptioninfo.text Этот человек проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
        .works__description-link
          +icon('link')
          a(href="/") Посмотреть сайт