section.works
  h3.works__title Мои работы
  .container
    - var selNumber = 2
    .works__slider
      .works__slider-number #{selNumber}
      .works__slider-img
        +image('content/slider-1.jpg')
    .works__description-