section.works
  h3.works__title Мои работы
  .container
    - var selNumber = 2
    .works__slider
      .works__slider-number #{selNumber}
      .works__slider-img
        +image('content/slider-1.jpg')
        .works__slider-thums
        - var thums = [4, 2, 3, 1]
        each thum in thums
        - var selClass = ''
        if thum ===selNumber
          - selClass = ' works__slider-thum--selected'
        div(class='works__slider-thum'+selClass)
          +image('content/thum-'+thum+'.jpg')
      .works__slider-arrows
        .works__slider-arrow.works__slider-arrow--next
          +icon('arrow-down')
        .works__slider-arrow.works__slider-arrow--previous
          +icon('arrow-down')
    .works__description
      .works__description-tags
        - var tags = ['HTML', "CSS", 'JavaScript']
        each tag in tags
          .works__description-tag.text #{tag}
      h4.works__description-title 