mixin skills-row(rowName, skills)
  h5.skills__circles-title #{rowName}

script(type="text/x-template")#skills-row

  .skills__circles-row
    include skills-circle
    each item in skills    
      +skills-circle(item)